{% extends "base.html" %}

{% block body %}
<h2>Add custom domain</h2>
<form action="{{ url_for('member.add_vhost') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <p>You can serve your SRCF website from a custom domain (or a subdomain) once it resolves to our server.  Don't include www here &ndash; the addition of e.g. <em>example.com</em> will be able to serve both that and <em>www.example.com</em>, as long as both resolve to us.</p>
    <p>Note that <strong>you must already own the domain</strong> (typically by buying it from a registrar) &ndash; the SRCF is not a registrar and cannot do this for you.  You'll also need to <a href="https://docs.srcf.net/web-hosting/domains.html" target="_blank">configure DNS records</a> so that your domain resolves to us.</p>
    <div class="form-group">
        <input name="domain" type="text" class="form-control{% if "domain" in errors %} is-invalid{% endif %}" value="{{ domain }}" placeholder="Domain or subdomain" autofocus required>
        {%- if "domain" in errors %}
            <small class="invalid-feedback">{{ errors.domain }}</small>
        {%- endif %}
    </div>
    <p>By default, a custom domain will serve the same site as your SRCF domain, <strong>{{ member.crsid }}.user.srcf.net</strong>.  You may optionally specify a subdirectory of your <code>public_html</code> directory, where a different site should be served from.</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend input-group-text">public_html /</span>
            <input name="root" type="text" class="form-control{% if "root" in errors %} is-invalid{% endif %}" value="{{ root }}" placeholder="Document root">
            {%- if "root" in errors %}
                <small class="invalid-feedback">{{ errors.root }}</small>
            {%- endif %}
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Add">
    <a href="{{ url_for('member.home') }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
