{% extends "base.html" %}

{% block body %}
<h2>Add custom domain</h2>
<form action="{{ url_for('member.add_vhost') }}" method="post">
    <p>You can serve your SRCF website from a custom domain (or a subdomain) once it resolves to our server.  <strong>Don't include www here</strong> &ndash; the addition of e.g. <em>example.com</em> will be able to serve both that and <em>www.example.com</em>, as long as both resolve to us.</p>
    <div class="form-group">
        <input name="domain" type="text" class="form-control{% if "domain" in errors %} is-invalid{% endif %}" value="{{ domain }}" placeholder="Domain or subdomain" autofocus required>
        {%- if "domain" in errors %}
            <small class="invalid-feedback">{{ errors.domain }}</small>
        {%- endif %}
    </div>
    <p>By default, a custom domain will serve the same site as your SRCF domain, <strong>{{ member.crsid }}.user.srcf.net</strong>.  You may optionally specify a subdirectory of your <code>public_html</code> directory, where a different site should be served from.</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">public_html/</span>
            <input name="root" type="text" class="form-control{% if "root" in errors %} is-invalid{% endif %}" value="{{ root }}" placeholder="Document root">
        </div>
        {%- if "root" in errors %}
            {# .invalid-feedback incompatible with input groups. #}
            <small class="text-danger">{{ errors.root }}</small>
        {%- endif %}
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Add">
    <a href="{{ url_for('member.home') }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
