{% extends "base.html" %}

{% block body %}
<h2>Change document root</h2>
<form action="{{ url_for('member.change_vhost_docroot', domain=domain) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <p>By default, a custom domain will serve the same site as your SRCF domain, <strong>{{ member.crsid }}.user.srcf.net</strong>.  You may optionally specify a subdirectory of your <code>public_html</code> directory, where a different site should be served from.</p>
    <p>You are changing the document root for <strong>{{ domain }}</strong>.</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend input-group-text">public_html /</span>
            <input name="root" type="text" class="form-control{% if "root" in errors %} is-invalid{% endif %}" value="{{ root }}" placeholder="New document root" autofocus>
            {%- if "root" in errors %}
                <small class="invalid-feedback">{{ errors.root }}</small>
            {%- endif %}
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Change">
    <a href="{{ url_for('member.home') }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
