{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; {{ member.crsid }} &bullet; {{ member.name }}</h1>
    <p>Date joined: <span class="data">{{ member.joined.strftime('%B %G') }}</span></p>
    <h3>Email</h3>
    <p>The email address we currently have on record for you is <span class="data">{{ member.email }}</span>. &mdash; <a href="{{ url_for('member.update_email_address') }}" rel="modal">Update</a></p>
    <p>This address is added to the <code>soc-srcf</code> mailing lists, and will be used if the sysadmins need to contact you about your account.</p>
    <p>Note that this does not affect the delivery of emails sent to <span class="data">{{ member.crsid }}@srcf.net</span> &ndash; you will need to <a href="https://www.srcf.net/faq/email#forwarding">configure email forwarding</a> for this.
    <h3>Password</h3>
    <p>Your password will have originally been issued when creating your account, and is used to login to the shell, file server, web desktop and more.</p>
    <p>If you have forgotten it, you can request a new one, which will be emailed to you. &mdash; <a href="{{ url_for('member.reset_password', type='srcf') }}" rel="modal">Reset password</a></p>
    <h3>Website</h3>
    {%- if member.website.exists %}
    <p>You currently have a website set up at <a href="http://{{ member.crsid }}.user.srcf.net" class="data">{{ member.crsid }}.user.srcf.net</a>.  This is managed by uploading pages to your <span class="data">public_html</span> folder.</p>
      {%- if member.website.state == "legacy" %}
    <p>However, we are currently also serving your site from <a href="http://www.srcf.ucam.org/~{{ member.crsid }}/">www.srcf.ucam.org/~{{ member.crsid }}/</a>, which has now been deprecated.  You can find out more information about this <a href="https://srcf-admin.soc.srcf.net/subdomains/">here</a>, including setting the new URL scheme as default (with a redirect from old to new).</p>
      {%- elif member.website.state == "legacyredirect" %}
    <p>We are also redirecting requests for <span class="data">www.srcf.ucam.org/~{{ member.crsid }}/</span> to your new URL.</p>
      {%- endif %}
    {%- else %}
    <p>You don't currently have a website set up.  You can do this by uploading pages to your <span class="data">public_html</span> folder.  This will then become available at <span class="data">{{ member.crsid }}.user.srcf.net</span>.</p>
    {%- endif %}
    <h3>MySQL</h3>
    {%- if member.mysqluser %}
    <p>Login with the username <span class="data">{{ member.mysqluser }}</span>.  Your password will have been issued when the user was first created. &mdash; <a href="{{ url_for('member.reset_password', type='mysql') }}" rel="modal">Reset password</a></p>
    <p>You can use <a href="https://www.srcf.net/phpmyadmin">phpMyAdmin</a> to manage your databases graphically.  Alternatively, connect from the SRCF shell:</p>
    <pre>{{ member.crsid }}@pip $ mysql -u {{ member.mysqluser }} -p <em>database</em></pre>
    <p>Here, <code>-u {{ member.mysqluser }}</code> specifies your username, <code>-p</code> prompts for your password, and <code><em>database</em></code> at the end switches to the database of that name.</p>
      {%- if member.mysqldbs|length > 1 %}
    <p>You currently have the following databases: {% for db in member.mysqldbs %}<span class="data">{{ db }}</span>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
    <p>To connect to a database, replace <code><em>database</em></code> with its name, e.g. <code>mysql -u {{ member.mysqluser }} -p {{ member.mysqldbs[0] }}</code>.</p>
      {%- elif member.mysqldbs|length == 1 %}
    <p>The name of your database is <span class="data">{{ member.mysqldbs[0] }}</span>.  To connect to it, replace <code><em>database</em></code> with <code>{{ member.mysqldbs[0] }}</code> above, i.e. <code>mysql -u {{ member.mysqluser }} -p {{ member.mysqldbs[0] }}</code>.</p>
      {%- else %}
    <form action="{{ url_for('member.create_database', type='mysql') }}" method="post">
        <p>You don't currently have a personal MySQL database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
      {%- endif %}
    {%- else %}
    <form action="{{ url_for('member.create_database', type='mysql') }}" method="post">
        <p>You don't currently have a MySQL user or database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
    {%- endif %}
    <h3>PostgreSQL</h3>
    {%- if member.pguser %}
    <p>Login with the username <span class="data">{{ member.pguser }}</span>.  Your password will have been issued when the user was first created. &mdash; <a href="{{ url_for('member.reset_password', type='postgres') }}" rel="modal">Reset password</a></p>
    <p>You can use <a href="https://www.srcf.net/phppgadmin">phpPgAdmin</a> to manage your databases graphically.  Alternatively, connect from the SRCF shell:</p>
    <pre>{{ member.crsid }}@pip $ psql <em>database</em></pre>
    <p>Here, <code><em>database</em></code> switches to the database of that name.  You don't need to provide a password, authentication is handled by the currently logged in user (so scripts running as your account also do not need a password).</p>
      {%- if member.pgdbs|length > 1 %}
    <p>You currently have the following databases: {% for db in member.pgdbs %}<span class="data">{{ db }}</span>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
    <p>To connect to a database, replace <code><em>database</em></code> with its name, e.g. <code>psql {{ member.pgdbs[0] }}</code>.</p>
      {%- elif member.pgdbs|length == 1 %}
    <p>The name of your database is <span class="data">{{ member.pgdbs[0] }}</span>.  To connect to it, replace <code><em>database</em></code> with <code>{{ member.pgdbs[0] }}</code> above, i.e. <code>psql {{ member.pgdbs[0] }}</code>.</p>
      {%- else %}
    <form action="{{ url_for('member.create_database', type='postgres') }}" method="post">
        <p>You don't currently have a personal PostgreSQL database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
      {%- endif %}
    {%- else %}
    <form action="{{ url_for('member.create_database', type='postgres') }}" method="post">
        <p>You don't currently have a PostgreSQL user or database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
    {%- endif %}
    <h3>Mailing lists</h3>
    {%- if member.mailinglists %}
      {%- if member.mailinglists|length > 1 %}
    <p>You currently manage {{ member.mailinglists|length }} mailing lists.  These are:</p>
    <ul>
        {%- for list in member.mailinglists|sort %}
        <li><span class="data">{{ list }}</span>@srcf.net &mdash; <a href="https://www.srcf.net/mailman/listinfo/{{ list }}">List info</a> &bullet; <a href="https://www.srcf.net/mailman/admin/{{ list }}">Manage</a> &bullet; <a href="{{ url_for('member.reset_mailing_list_password', listname=list) }}" rel="modal">Reset password</a></li>
        {%- endfor %}
    </ul>
      {%- else %}
    <p>You currently manage the <span class="data">{{ member.mailinglists[0] }}</span>@srcf.net mailing list. &mdash; <a href="https://www.srcf.net/mailman/listinfo/{{ member.mailinglists[0] }}">List info</a> &bullet; <a href="https://www.srcf.net/mailman/admin/{{ member.mailinglists[0] }}">Manage</a> &bullet; <a href="{{ url_for('member.reset_mailing_list_password', listname=member.mailinglists[0]) }}" rel="modal">Reset password</a>
      {%- endif %}
    {%- endif %}
    <p>If you want to create a new mailing list, personal list addresses are of the form <span class="data">{{ member.crsid }}-<em>name</em></span>@srcf.net. &mdash; <a href="{{ url_for('member.create_mailing_list') }}" rel="modal">Create</a></p>
</div>
{% endblock body %}
