{% extends "base.html" %}

{% block body %}
<h2>Reset {{ listname }} password</h2>
<p>Are you sure you want to reset your mailing list password for <strong>{{ listname }}@srcf.net</strong>?</p>
<form action="{{ url_for('member.reset_mailing_list_password', listname=listname) }}" method="post">
    <input type="submit" class="btn btn-outline-primary" value="Confirm">
    <a href="{{ url_for('member.home') }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
