{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}">Control Panel</a> &rarr; <a href="{{ url_for('member.home') }}">{{ member.crsid }}</a> &rarr; Reset Mailing List Password</h1>
    <p>Are you sure you want to reset your mailing list password for <span class="data">{{ listname }}</span>@srcf.net?</p>
    <form action="{{ url_for('member.reset_mailing_list_password', listname=listname) }}" method="post">
        <div class="form-group">
            <input type="submit" value="Confirm">
            <a href="{{ url_for('member.home') }}" class="cancel">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
