{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1>Reset SRCF Password</h1>

    <form action="{{ url_for('member.reset_password') }}" method="post">

    <p>
        Are you sure you want to reset your SRCF password?  This will affect password-based access to the shell service, graphical desktop and SFTP.
    </p>

    <div class="form-group">
        <input type="submit" value="Confirm">
        <a href="{{ url_for('member.home') }}">Cancel</a>
    </div>

    </form>
</div>
{% endblock %}
