{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; <a href="{{ url_for('member.home') }}" class="action">{{ crsid }}</a> &rarr; Reset {{ item }} Password</h1>

    <form action="{{ action }}" method="post">

    <p>
    Are you sure you want to reset your {{ item }} password?
    {% if affects is defined %}
    This will affect {{ affects }}.
    {% endif %}
    </p>

    <div class="form-group">
        <input type="submit" value="Confirm">
        <a href="{{ url_for('member.home') }}">Cancel</a>
    </div>

    </form>
</div>
{% endblock %}
