{% extends "base.html" %}
{% from "macros.html" import grp_desc_grp %}

{% block body %}
<h2>Reset {{ name }} password</h2>
<p>Are you sure you want to reset the {{ name }} database password?</p>
<p>This will affect access to {{ web_interface }}, as well as any scripts that access databases using the group account.</p>
<form action="{{ url_for('group.reset_database_password', group=group.society, type=type) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="submit" class="btn btn-outline-primary" value="Confirm">
    <a href="{{ url_for('group.home', group=group.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
