{% extends "base.html" %}
{% from "macros.html" import grp_desc_grp %}

{% block body %}
<h2>Update role email</h2>
<p>A role address, if configured, will be notified in the event of the group account becoming orphaned (no remaining admins), and may also be called upon if the sysadmins are unable to reach the account admins when needed.</p>
<p>This can be a committee role address, or a shared mailbox managed by the organisation related to the account.  This should be a long-lived address, that does not change as individual admins come and go &ndash; <strong>please do not use the address of a single person</strong>, which would be liable to become outdated.</p>
<p>Note that this is not a replacement for timely handovers of the <code>{{ group.society }}</code> account; please ensure that the list of admins remains up-to-date, in order to avoid possible interruption of service.</p>
<form action="{{ url_for('group.update_role_email', group=group.society) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <input name="email" type="email" class="form-control{% if error %} is-invalid{% endif %}" value="{{ email or "" }}" placeholder="Email address" autofocus>
        {%- if error %}
            <small class="invalid-feedback">{{ error }}</small>
        {%- endif %}
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Update">
    <a href="{{ url_for('group.home', group=group.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
