{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; Administration</h1>
    <table>
        <thead>
            <tr>
                {%- for key, count in job_counts %}
                <th>{{ key|title }}</th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {%- for key, count in job_counts %}
                <td><a href="{{ url_for('admin.view_jobs', state=key) }}">{{ count }}</a></td>
                {%- endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}
