{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; Administration</h1>
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%- for key, count in job_counts %}
            <tr>
                <td>{{ key|title }}</td>
                <td>{{ count }}</td>
                <td>
                    <a href="{{ url_for('admin.view_jobs', state=key) }}">View</a>
                </td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
    <p><small>These pages needs pagination before the lists grow too long...</small></p>
</div>
{% endblock body %}
