{% extends "jobs/status_base.html" %}

{% set page_parent = url_for('admin.view_jobs', state=job.state) %}

{% block metadata %}
{{ super() }}
<br>Environment: {{ job.row.environment }}
{% endblock %}

{% block body %}
{{ super() }}
{%- if job.state == "unapproved" %}
    <p>
        <a class="btn btn-outline-primary" href="{{ url_for('admin.set_state', id=job.job_id, state=job.state, approved=True) }}">Approve</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('admin.set_state', id=job.job_id, state=job.state, approved=False) }}">Reject</a>
    </p>
{%- elif job.state == "queued" %}
    <p>
        <a class="btn btn-outline-danger" href="{{ url_for('admin.set_state', id=job.job_id, state=job.state) }}">Cancel</a>
    </p>
{%- elif job.state == "running" %}
    <p>
        <a class="btn btn-outline-secondary" href="{{ url_for('admin.set_state', id=job.job_id, state=job.state) }}" onclick="return confirm('Warning: this won\'t stop a running job, only set its status to failed!');">Move to failed</a>
    </p>
{%- endif %}
{%- if job.visible_to(principal) %}
<a class="btn btn-outline-primary mb-2" href="{{ url_for('jobs.status', id=job.job_id) }}">Jump to normal view</a>
{%- endif %}
<p>
{% if notes %}
<h3>Notes</h3>
<ul>
    {%- for entry in notes %}
    <li><a href="#log-{{ entry.log_id }}">{{ entry.time }}</a>: {{ entry.message }}</li>
    {%- endfor %}
</ul>
{% endif %}
<h3>Add note</h3>
<form action="{{ url_for('admin.add_note', job_id=job.job_id) }}" method="post">
    <p>
        <textarea name="text" class="form-control job-note-entry" placeholder="Enter text here." rows="5"></textarea>
    </p>
    <p>
        <input type="submit" class="btn btn-outline-primary" value="Add">
    </p>
</form>
<h3>Data</h3>
{% if job.row.args %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in job.row.args.items() %}
                <tr>
                    <td>{{ k }}</td>
                    <td>{% if v %}<pre class="job-raw">{{ v }}</pre>{% else %}&mdash;{% endif %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>creation time</td>
                <td>{% if job.created_at %}<pre class="job-raw">{{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</pre>{% else %}&mdash;{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    <p>No data required for this job.</p>
{% endif %}
<h3>Log</h3>
{% if log %}
    <table class="table table-sm jobs">
        <thead>
            <tr>
                <th>Type</th>
                <th>Time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in log %}
                <tr class="job-log-entry" id="log-{{ entry.log_id }}">
                    <td>{{ entry.type }}</td>
                    <td>{{ entry.time }}</td>
                    <td>
                        {{ entry.message }}
                        {% if entry.raw %}
                            <pre class="job-raw">{{ unhexlify(entry.raw[2:]).decode("utf-8") if entry.raw.startswith("\\x") else entry.raw }}</pre>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No log entries recorded.</p>
{% endif %}
{% endblock %}
