{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; <a href="{{ url_for('admin.home') }}" class="action">Administration</a> &rarr; {{ state|title }}</h1>
    {%- if jobs %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Type</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%- for job in jobs %}
            <tr>
                <td>{{ job.job_id }}</td>
                <td>{{ job.owner_crsid }}</td>
                <td>{{ job.JOB_TYPE }}</td>
                <td>{{ job.state }}</td>
                <td><a href="{{ url_for('admin.status', id=job.job_id) }}">View</a></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">{{ job }}</td>
            </tr>
            {%- if job.state_message %}
            <tr>
                <td>State</td>
                <td colspan="4">{{ job.state_message }}</td>
            </tr>
            {%- endif %}
            {%- endfor %}
        </tbody>
    </table>
    {%- else %}
    <p>No jobs to show.</p>
    {%- endif %}
</div>
{% endblock body %}
