{% extends "admin/home.html" %}
{% from "macros.html" import paginate %}

{% block body %}
{{ super() }}
{{ paginate(pages) }}
{%- if jobs %}
    <table class="table table-sm jobs">
        <thead>
            <tr>
                <th>#</th>
                <th>Env.</th>
                <th>Time</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Message</th>
                {%- if state in ("unapproved", "queued", "running") %}
                    <th>Actions</th>
                {%- endif %}
            </tr>
        </thead>
        <tbody>
            {%- for job in jobs %}
                <tr class="{{ job.state }}">
                    <td><a href="{{ url_for('admin.status', id=job.job_id) }}">{{ job.job_id }}</a>
                      {%- if note_count[job.job_id] %}&nbsp;<abbr title="{{ note_count[job.job_id] }} note{{ 's' if note_count[job.job_id] > 1 else '' }}"><i class="fa fa-pencil-square-o"></i></abbr>{% endif %}</td>
                    <td>{{ job.row.environment }}</td>
                    <td>{% if job.created_at %}{{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}{% else %}&mdash;{% endif %}</td>
                    <td>{{ job.owner_crsid or ("&mdash;"|safe) }}</td>
                    <td>{{ job }}</td>
                    <td>{{ job.state_message or ("&mdash;"|safe) }}</td>
                    {%- if state == "unapproved" %}
                        <td><a href="{{ url_for('admin.set_state', id=job.job_id, state=state, approved=True) }}">Approve</a> &bullet; <a href="{{ url_for('admin.set_state', id=job.job_id, state=state, approved=False) }}">Reject</a></td>
                    {%- elif state == "queued" %}
                        <td><a href="{{ url_for('admin.set_state', id=job.job_id, state=state) }}">Cancel</a></td>
                    {%- elif state == "running" %}
                        <td><a href="{{ url_for('admin.set_state', id=job.job_id, state=state) }}" onclick="return confirm('Warning: this won\'t stop a running job, only set its status to failed!');">Move to failed</a></td>
                    {%- endif %}
                </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- else %}
    <p>No jobs to show.</p>
{%- endif %}
{% endblock body %}
