{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; Create Society</h1>
    <p>To apply for a shared society account on the SRCF, please fill in the form below.</p>
    <p>Please note that all named users that wish to be administrators on the account must have their own personal SRCF accounts &ndash; if this is not the case, direct them to the <a href="{{ url_for('signup.signup') }}">signup form</a> to apply.</p>
    <p>Once the society account is created, you will be able to use the control panel to create any databases or mailing lists.</p>
    <form action="{{ url_for('signup.newsoc') }}" method="post" class="signup-form">
        <div class="form-group{{ sif (errors.society, ' error') }}">
            <label>Society short name: <input type="text" name="society" maxlength="16" value="{{ society }}" autofocus required></label>
            {%- if errors.society is defined and errors.society %}
            <p class="error-help-block">{{ errors.society }}</p>
            {%- endif %}
            <p class="help-block">This should be a suitable abbreviation or short name for the society, 16 or fewer lowercase letters only &ndash; e.g. "cugac" for the Cambridge University Gaelic Athletic Club</p>
        </div>
        <div class="form-group{{ sif(errors.description, ' error') }}">
            <label>Society full name: <input type="text" name="description" value="{{ description }}" required></label>
            {%- if errors.description is defined and errors.description %}
            <p class="error-help-block">{{ errors.description }}</p>
            {%- endif %}
            <p class="help-block">The longer name or description of the society &ndash; e.g. "CU Gaelic Athletic Club".  Abbreviation of "Cambridge University" to "CU" is encouraged.</p>
        </div>
        <div class="form-group{{ sif(errors.admins, ' error') }}">
            <label>Administrators:<br><textarea name="admins" rows="3">{{ admins|join("&#13;&#10;"|safe) }}</textarea></label>
            {%- if errors.admins is defined and errors.admins %}
            <p class="error-help-block">{{ errors.admins }}</p>
            {%- endif %}
            <p class="help-block">Please enter the CRSids of all users to be added as society admins.  A person's CRSid is the part before the <span class="data">@cam.ac.uk</span> in his or her University of Cambridge email address.  You must include yourself in this list.</p>
            <p class="help-block"><strong>It is strongly recommended to nominate at least one additional administrator besides yourself</strong>, in order to maintain continuity of the account in the event of an administrator leaving the University. Accounts with no active admins may be suspended without warning.</p>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
