{% extends "base.html" %}

{% set page_title = "Create society account" %}
{% set page_parent = url_for('home.home') %}

{% block body %}
<p>To apply for a shared society account on the SRCF, please fill in the form below.  Once the society account is created, you will be able to use the control panel to create any databases or mailing lists.</p>
<p>Society accounts are identified by a <em>short name</em>, which will form part of your society website URL (<span class="text-danger">name</span>.soc.srcf.net) and mailing addresses (e.g. <span class="text-danger">name</span>-admins@srcf.net).  Short names <strong>cannot be changed after account creation</strong>, so choose wisely.</p>
<p>Please note that all named users that wish to be administrators on the account must have their own personal SRCF accounts &ndash; if this is not the case, direct them to the <a href="{{ url_for('signup.signup') }}">signup form</a> to apply.  It is strongly recommended to <strong>nominate at least one additional administrator besides yourself</strong>, in order to maintain continuity of the account in the event of an administrator leaving the University. Accounts with no active admins may be suspended without warning.</p>
<form action="{{ url_for('signup.newsoc') }}" method="post">
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="society">Short name</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="society" name="society" class="form-control{% if errors.society is defined %} is-invalid{% endif %}" value="{{ society }}" autofocus required>
            {%- if errors.society is defined %}
                <small class="invalid-feedback">{{ errors.society }}</small>
            {%- endif %}
            <small class="form-text text-muted">This should be a suitable abbreviation or short name for the society, 16 or fewer lowercase letters only &ndash; e.g. "cugac" for the Cambridge University Gaelic Athletic Club.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="description">Full name</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="description" name="description" class="form-control{% if errors.description is defined %} is-invalid{% endif %}" value="{{ description }}" required>
            {%- if errors.description is defined %}
                <small class="invalid-feedback">{{ errors.description }}</small>
            {%- endif %}
            <small class="form-text text-muted">The longer name or description of the society &ndash; e.g. "CU Gaelic Athletic Club".  Abbreviation of "Cambridge University" to "CU" is encouraged.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="admins">Administrators</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="admins" name="admins" class="form-control{% if errors.admins is defined %} is-invalid{% endif %}" value="{{ admins|join(", "|safe) }}" required>
            {%- if errors.admins is defined %}
                <small class="invalid-feedback">{{ errors.admins }}</small>
            {%- endif %}
            <small class="form-text text-muted">Please enter the CRSids of all users to be added as society admins, separated by commas.  A person's CRSid is the part before the "@cam.ac.uk" in his or her University of Cambridge email address.  You must include yourself in this list.</small>
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Create">
</form>
{% endblock %}
