{% extends "base.html" %}

{% set page_title = "Create society account" %}
{% set page_parent = url_for('home.home') %}

{% block body %}
<p>To apply for a shared society account on the SRCF, please fill in the form below.  Once created, you'll be able to use the control panel to create any databases or mailing lists.</p>
<p>Before applying, please ensure we don't already have an existing account for the same purpose.  You may wish to confirm with your predecessors (if representing an existing real-world group), or check our <a href="{{ DOMAIN_WEB }}/socs/">list of all society accounts</a>.  Multiple accounts for the same group are not permitted.</p>
<p>Society accounts are identified by a <em>short name</em>, which will form part of your society website URL (<strong><span class="var">name</span>.soc.srcf.net</strong>) and mailing addresses (e.g. <strong><span class="var">name</span>-admins@srcf.net</strong>).</p>
<p>Please note that all named users that wish to be administrators on the account must have their own personal SRCF accounts &ndash; if this is not the case, direct them to the <a href="{{ url_for('signup.signup') }}">signup form</a> to apply.</p>
<form action="{{ url_for('signup.newsoc') }}" method="post">
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="society">Short name</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="society" name="society" class="form-control{% if errors.society is defined %} is-invalid{% endif %}" value="{{ society }}" autofocus required>
            {%- if errors.society is defined %}
                <small class="invalid-feedback">{{ errors.society }}</small>
            {%- endif %}
            <small class="form-text text-muted">This should be a suitable abbreviation or short name for the society, 16 or fewer lowercase letters only &ndash; e.g. "cugac" for the Cambridge University Gaelic Athletic Club.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="description">Full name</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="description" name="description" class="form-control{% if errors.description is defined %} is-invalid{% endif %}" value="{{ description }}" required>
            {%- if errors.description is defined %}
                <small class="invalid-feedback">{{ errors.description }}</small>
            {%- endif %}
            <small class="form-text text-muted">The longer name or description of the society &ndash; e.g. "CU Gaelic Athletic Club".  Abbreviation of "Cambridge University" to "CU" is encouraged.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="admins">Administrators</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="admins" name="admins" class="form-control{% if errors.admins is defined %} is-invalid{% endif %}" value="{{ admins|join(", "|safe) }}" required>
            {%- if errors.admins is defined %}
                <small class="invalid-feedback">{{ errors.admins }}</small>
            {%- endif %}
            <small class="form-text text-muted">Please enter the CRSids of all users to be added as society admins, separated by commas.  You must include yourself in this list.</small>
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Review &amp; confirm creation">
</form>
{% endblock %}
