{% extends "base.html" %}

{% set page_title = "Join the SRCF" %}

{% block body %}
<p>Hello, and welcome to the SRCF!  Before you can use our services, you'll need to sign up for a personal account.  To apply for SRCF membership, please fill in the form below.</p>
<p>Note that to assist your application, we have attempted to guess values based on information available to anyone on the CUDN. These are not stored until you complete the application form and give us explicit permission to do so.</p>
<form action="{{ url_for('signup.signup') }}" method="post">
    {% if force_signup_form|default(false) %}<input type="hidden" name="force_signup_form" value="1">{% endif %}
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label">CRSid</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" class="form-control-plaintext" value="{{ crsid }}" readonly>
            <small class="form-text text-muted">This is the part before the "@cam.ac.uk" in your University of Cambridge email address.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="preferred-name">First name</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="preferred-name" name="preferred_name" class="form-control{% if errors.preferred_name is defined %} is-invalid{% endif %}" value="{{ preferred_name }}" required>
            {%- if errors.preferred_name is defined %}
                <small class="invalid-feedback">{{ errors.preferred_name }}</small>
            {%- endif %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="surname">Surname</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" id="surname" name="surname" class="form-control{% if errors.surname is defined %} is-invalid{% endif %}" value="{{ surname }}" required>
            {%- if errors.surname is defined %}
                <small class="invalid-feedback">{{ errors.surname }}</small>
            {%- endif %}
            <small class="form-text text-muted">Please only use unaccented English characters in your name.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="email">Email address</label>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <input type="email" id="email" name="email" class="form-control{% if errors.email is defined %} is-invalid{% endif %}" value="{{ email }}" required>
            {%- if errors.email is defined %}
                <small class="invalid-feedback">{{ errors.email }}</small>
            {%- endif %}
            <small class="form-text text-muted">This is your preferred contact address, and will be the email address to which email sent to your SRCF account is redirected to by default.</small>
        </div>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input type="checkbox" name="social" class="form-check-input" {% if social %} checked{% endif %}>
            Join the social mailing list
        </label>
        <small class="form-text text-muted">We have a mailing list (soc-srcf-social@lists.cam.ac.uk) used to organise various social events such as pub meets and LAN parties.  If you wish to be added to the list, check this box.</small>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input type="checkbox" name="dpa" class="form-check-input" {% if dpa %} checked{% endif %} required>
            DPA confirmation
        </label>
        {%- if errors.dpa is defined %}
            <small class="form-text text-danger">{{ errors.dpa }}</small>
        {%- endif %}
        <small class="form-text text-muted">In creating your account, we store the above information.  The Data Protection Act requires us to explicitly seek your permission to keep the above personal data on our server, for the purposes of providing your account facilities and keeping you informed about the SRCF as a society.</small>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input type="checkbox" name="tos" class="form-check-input" {% if tos %} checked{% endif %} required>
            I accept the <a href="{{ DOMAIN_WEB }}/tos" target="_blank">Terms of Service</a>
        </label>
        {%- if errors.tos is defined %}
            <small class="form-text text-danger">{{ errors.tos }}</small>
        {%- endif %}
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Join">
</form>
{% endblock %}
