{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}">Control Panel</a> &rarr; Job history for {{ owner_in_context }}</h1>
    {%- if max_pages > 1 %}
    <p>Page: {% for i in range(1, max_pages + 1) %}{% if i == page %}<strong>{{ i }}</strong>{% else %}<a href="?page={{ i }}" {% if i == page + 1 %}rel="next"{% elif i == page - 1 %}rel="prev"{% endif %}>{{ i }}</a>{% endif %}{% if not loop.last %} {% endif %}{% endfor %}</p>
    {%- endif %}
    {%- if jobs %}
    <table class="jobs">
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {%- for job in jobs %}
            <tr class="{{ job.state }}">
                <td><a href="{{ url_for('jobs.status', id=job.job_id) }}">{{ job.job_id }}</a></td>
                <td>{{ job }}</td>
                <td>{{ job.state|capitalize }}</td>
                <td>{{ job.state_message or ("&mdash;"|safe) }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
    {%- else %}
    <p>No jobs to show.</p>
    {%- endif %}
</div>
{% endblock body %}
