<!DOCTYPE html>
<html>
    <head>
        <title>Student-Run Computing Facility (SRCF) - SRCF control panel</title>
        <link rel="stylesheet" href="/_srcf/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery.modal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="topbox" style="overflow: auto;">
            <div class="logo" style="margin-bottom: 10px;">
                <h1><a href="http://www.srcf.net/">srcf</a></h1>
                <h2><a href="http://www.srcf.net/">student-run computing facility</a></h2>
            </div>
            <div class="menu">
                <p style="margin-bottom: 0px;">
                    For prospective members:&nbsp;
                    <b><a href="https://www.srcf.net/signup/">Join</a></b> |
                    <a href="http://www.srcf.net/tos">Terms of Service</a> |
                    <a href="http://www.srcf.net/services/">Services</a><br/>
                    For existing members:&nbsp;
                    <b><a href="http://webmail.srcf.net/">Webmail</a></b> |
                    <a href="http://www.srcf.net/mailman/listinfo">Mailing lists</a> |
                    <a href="http://www.srcf.net/mailman/admin">List administration</a><br/>
                    About the society:&nbsp;
                    <a href="http://www.srcf.net/committee">Committee</a> |
                    <a href="http://www.srcf.net/constitution">Constitution</a> |
                    <a href="http://www.srcf.net/contact-addresses">Contact Addresses</a> |
                    <a href="http://www.srcf.net/minutes/">Minutes</a>
                </p>
                <p style="margin-top: 8px; margin-bottom: 15px;">
                    <a href="https://www.srcf.net/donate"><img src="//www.srcf.net/_srcf/images/paypal-make-a-donation.gif" width="110" height="23" alt="Make A Donation" style="border:0px; margin-bottom: -7px;"/></a> |
                    <a href="http://www.srcf.net/faq/">Frequently Asked Questions</a> |
                    <a href="http://www.srcf.net/socs/">Societies</a> |
                    <a href="http://status.srcf.net/">System status</a>
                </p>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="modal-spinner"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.modal.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
