<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Control Panel{% if page_title is defined %}: {{ page_title }}{% endif %} - Student-Run Computing Facility (SRCF)</title>
    <!-- TODO: Replace back to /_srcf/ -->
    <link href="/_srcf.bs/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_srcf.bs/vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="/_srcf.bs/srcf-bs.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container">
        <h1 class="navbar-brand mb-0">
          <a class="text-danger" href="{{ DOMAIN_WEB }}/">SRCF</a>
          <small><a class="text-primary" href="{{ DOMAIN_WEB }}">Student-Run Computing Facility</a></small>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('home.home') }}"><i class="fa fa-wrench"></i> Control Panel</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ DOMAIN_WEB }}/services"><i class="fa fa-cubes"></i> Services</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ DOMAIN_WEB }}/contact"><i class="fa fa-paper-plane-o"></i> Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('signup.signup') }}"><i class="fa fa-user"></i> <strong>Join</strong></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main role="main" class="container">
      {%- if page_title is defined %}
        <h2>
          {%- if page_parent is defined %}
            <a href="{{ page_parent }}" title="Back"><i class="fa fa-arrow-left"></i></a>
          {%- endif %}
          {{ page_title }}
          {%- if page_subtitle is defined %}
            <small class="text-muted">{{ page_subtitle }}</small>
          {%- endif %}
        </h2>
      {%- endif %}
      {% block body %}{% endblock %}
    </main>
    <div id="action-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="container">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="action-modal-content"></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Membership</h5>
            <ul class="fa-ul">
              <li><a href="{{ url_for('signup.signup') }}"><i class="fa fa-li fa-user"></i> Join the SRCF</a></li>
              <li><a href="{{ url_for('signup.newsoc') }}"><i class="fa fa-li fa-users"></i> Create society account</a></li>
              <li><a href="{{ DOMAIN_WEB }}/services"><i class="fa fa-li fa-cubes"></i> List of services</a></li>
              <li><a href="{{ DOMAIN_WEB }}/donate"><i class="fa fa-li fa-money"></i> Donate</a></li>
              <li><a href="{{ DOMAIN_WEB }}/tos"><i class="fa fa-li fa-balance-scale"></i> Terms of service</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Services</h5>
            <ul class="fa-ul">
              <li><a href="{{ url_for('home.home') }}"><i class="fa fa-li fa-wrench"></i> Control panel</a></li>
              <li><a href="https://webmail.srcf.net"><i class="fa fa-li fa-envelope-o"></i> Webmail</a></li>
              <li><a href="https://lists.srcf.net"><i class="fa fa-li fa-bullhorn"></i> Mailing lists</a></li>
              <li><a href="https://www.srcf.net/terminal/"><i class="fa fa-li fa-terminal"></i> Web terminal</a></li>
              <li><a href="http://status.srcf.net"><i class="fa fa-li fa-toggle-on"></i> Server status</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>About</h5>
            <ul class="fa-ul">
              <li><a href="{{ DOMAIN_WEB }}/committee"><i class="fa fa-li fa-id-card-o"></i> Committee</a></li>
              <li><a href="{{ DOMAIN_WEB }}/constitution"><i class="fa fa-li fa-university"></i> Constitution</a></li>
              <li><a href="{{ DOMAIN_WEB }}/minutes/"><i class="fa fa-li fa-book"></i> Minutes</a></li>
              <li><a href="{{ DOMAIN_WEB }}/contact"><i class="fa fa-li fa-paper-plane-o"></i> Contact addresses</a></li>
              <li><a href="{{ DOMAIN_WEB }}/faq/"><i class="fa fa-li fa-bookmark-o"></i> FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/_srcf.bs/vendor/js/jquery.min.js"></script>
    <script src="/_srcf.bs/vendor/js/popper.min.js"></script>
    <script src="/_srcf.bs/vendor/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
