{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1>Control panel</h1>
    <p>Hello, <span class="data">{{ member.name }}</span>.  Here is the status of your SRCF services.</p>
    <h3>Your user account on SRCF:</h3>
    <ul class="acctlist">
        <li class="acct">
            <div class="head"><span class="data">{{ member.crsid }}</span> &mdash; <span class="data">{{ member.name }}</span></div>
            <ul class="acctattribs">
                <li class="meta">Created: <span class="data">{{ member.joined.strftime('%b %G') }}</span></li>
                <li class="meta">Email: <span class="data">{{ member.email }}</span></li>
                {% if member.mysqldbs %}
                <li>MySQL databases: {% for db in member.mysqldbs|sort %}{{ db }} {% endfor %}</li>
                {% endif %}
                {% if member.pgdbs %}
                <li>PostgreSQL databases: {% for db in member.pgdbs|sort %}{{ db }} {% endfor %}</li>
                {% endif %}
                {% if member.lists %}
                <li>Mailing lists:
                    {% for list in member.lists|sort %}
                    <a href="https://www.srcf.net/mailman/admin/{{ list }}" class="data">{{ list }}</a>
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </li>
    </ul>
    {% if member.societies %}
    <h3>You are an adminstrator of the following societies:</h3>
    <ul class="acctlist">
        {% for soc in member.societies %}
        <li class="acct">
            <div class="head">
                <a href="{{ url_for('overview.society', society=soc.society) }}"><span class="data">{{ soc.society }}</span></a>
                &mdash; <span class="data">{{ soc.description }}</span>
            </div>
            <ul class="acctattribs">
                <li class="meta">Created: <span class="data">{{ soc.joined.strftime('%b %G') }}</span></li>
                <li class="meta">Administrators:
                    {% for admin in soc.admins|sort(attribute='crsid') %}
                    <abbr title="{{ admin.name }}"><span class="data">{{ admin.crsid }}</span></abbr>
                    {% endfor %}
                </li>
                {% if soc.mysqldbs %}
                <li>MySQL databases: {% for db in soc.mysqldbs|sort %}{{ db }} {% endfor %}</li>
                {% endif %}
                {% if soc.pgdbs %}
                <li>PostgreSQL databases: {% for db in soc.pgdbs|sort %}{{ db }} {% endfor %}</li>
                {% endif %}
                {% if soc.lists %}
                <li>Mailing lists:
                    {% for list in soc.lists|sort %}
                    <a href="https://www.srcf.net/mailman/admin/{{ list }}" class="data">{{ list }}</a>
                    {% endfor %}
                </li>
                {% endif %}
                <li><a href="{{ url_for('overview.society', society=soc.society) }}">Manage Society</a></li>
            </ul>
        </li>
        {% endfor %}
        <li><a href="#todo">Create new society account</a></li>
    </ul>
    {% endif %}
</div>
{% endblock %}
