<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Student-Run Computing Facility (SRCF) - SRCF control panel</title>
<link type="text/css" rel="stylesheet" media="screen" href="http://www.srcf.net/_srcf/style.css"/>

</head><body><div class="topbox" style="overflow: auto;">
<div class="logo" style="margin-bottom: 10px;">
  <h1><a href="http://www.srcf.net/">srcf</a></h1>
  <h2><a href="http://www.srcf.net/">student-run computing facility</a></h2>
</div><div class="menu">
  <p style="margin-bottom: 0px;">For prospective members:&nbsp;
    <b><a href="https://www.srcf.net/signup/">Join</a></b> |
    <a href="http://www.srcf.net/tos">Terms of Service</a> |
    <a href="http://www.srcf.net/services/">Services</a><br/>
  For existing members:&nbsp;
    <b><a href="http://webmail.srcf.net/">Webmail</a></b> |
    <b><a href="http://www.srcf.net/webdesktop/">Desktop</a></b> |
    <a href="http://www.srcf.net/mailman/listinfo">Mailing lists</a> |
    <a href="http://www.srcf.net/mailman/admin">List administration</a><br/>
  About the society:&nbsp;
    <a href="http://www.srcf.net/committee">Committee</a> |
    <a href="http://www.srcf.net/constitution">Constitution</a> |
    <a href="http://www.srcf.net/contact-addresses">Contact Addresses</a> |
    <a href="http://www.srcf.net/minutes/">Minutes</a>
  </p><p style="margin-top: 8px; margin-bottom: 15px;">
    <a href="https://www.srcf.net/donate"><img src="/_srcf/images/paypal-make-a-donation.gif" width="110" height="23" alt="Make A Donation" style="border:0px; margin-bottom: -7px;"/></a> |
    <a href="http://www.srcf.net/faq/">Frequently Asked Questions</a> |
    <a href="http://www.srcf.net/socs/">Societies</a> |
    <a href="http://status.srcf.net/">System status</a>
  </p>
</div></div><div class="main">


<h1>Control panel</h1>


<style type="text/css">
p.done { background: #dfd; font-weight: bold; padding: 0.2em 0.4em }
ul.acctlist div { padding: 0.2em }
ul.acctlist .head { background: #cef; }
ul.acctlist li.acct { padding-bottom: 0; padding-top: 0.8em }
ul.acctlist li.meta { color: #44f }
ul.acctlist li.acct ul.acctattribs { margin-bottom: 0.5em; }
ul.acctlist li.acct ul.acctattribs li { margin-top: 0.1em; }
.data { font-weight: bold }
</style>

<p>Hello, <span class="data">Anonymous</span>.  Here is the status of your SRCF services.</p>
<h3>You are responsible for the following accounts on the SRCF:</h3>
<ul class="acctlist">
<li class="acct"><div class="head"><span class="data">anon1</span> &mdash; <span class="data">A. User (Anonymous)</span></div>
<ul class="acctattribs">
<li class="meta">created: <span class="data">2012/10</span></li>
<li class="meta">status: <span class="data">user</span></li>
<li class="meta">email address on record: <span class="data">anon1@cam.ac.uk</span></li>
<li><a href="https://www.srcf.net/phpmyadmin/">MySQL account</a>: <span class="data">anon1</span></li>
<li><a href="https://www.srcf.net/phpmyadmin/">MySQL database</a>: <span class="data">anon1</span></li>
<li>mailing list: <a href="https://www.srcf.net/mailman/admin/anon1-list" class="data">anon1-list</a></li>
</ul>
</li>
<li class="acct"><div class="head"><span class="data">soc</span> &mdash; <span class="data">Society</span></div>
<ul class="acctattribs">
<li class="meta">created: <span class="data">2012/10</span></li>
<li class="meta">administrators:
<abbr title="Anonymous User"><span class="data">anon1</span></abbr>, <abbr title="Anonymous User"><span class="data">anon2</span></abbr>
</li>
<li>two mailing lists: <a href="https://www.srcf.net/mailman/admin/soc-list1" class="data">soc-list1</a>, <a href="https://www.srcf.net/mailman/admin/soc-list2" class="data">soc-list2</a></li>
</ul>
</li>

</div>
</body></html>