{% extends "base.jinja2" %}

{% block body %}
<div class="main">
    <h1>Control panel</h1>
    <p>Hello, <span class="data">{{ member.name }}</span>.  Here is the status of your SRCF services.</p>
    <h3>Your user account on SRCF:</h3>
    <ul class="acctlist">
        <li class="acct">
            <div class="head"><span class="data">{{ member.crsid }}</span> &mdash; <span class="data">{{ member.name }}</span></div>
            <ul class="acctattribs">
                <li class="meta">Created: <span class="data">{{ member.joined.strftime('%b %G') }}</span></li>
                <li class="meta">Email: <span class="data">{{ member.email }}</span></li>
{#                        <li>
                            {% member.mysqlAccounts|length > 0 %}
                            <a href="https://www.srcf.net/phpmyadmin/">MySQL account</a>:
                            {{ member.mysqlAccounts|join(', ') }}
                            <span class="data">{{ member.mysqlAccount }}</span>
                        </li>
                        <li><a href="https://www.srcf.net/phpmyadmin/">MySQL database</a>: <span class="data">{{ member.mysqlDatabase }}</span></li>
                        #}
                        {% if member.lists|length > 0 %}
                        <li>Mailing list:
                            {% for list in member.lists %}
                            <a href="https://www.srcf.net/mailman/admin/{{ list }}" class="data">{{ list }}</a>
                            {% endfor %}
                        </li>
                        {% endif %}
            </ul>
        </li>
    </ul>
    {% if member.societies %}
    <h3>You are an adminstrator of the following societies:</h3>
    <ul class="acctlist">
        {% for soc in member.societies %}
        <li class="acct">
            <div class="head"><span class="data">{{ soc.society }}</span> &mdash; <span class="data">{{ soc.description }}</span></div>
            <ul class="acctattribs">
                <li class="meta">Created: <span class="data">{{ soc.joined.strftime('%b %G') }}</span></li>
                <li class="meta">Administrators:
                    {% for admin in soc.admins %}
                    <abbr title="{{ admin.name }}">
                        <span class="data">{{ admin.crsid }}</span>
                    </abbr>
                    {%- if not loop.last -%}
                    ,
                    {% endif %}
                    {% endfor %}
                </li>
{#                        <li class="meta">
                            MySQL account: 
                        </li>
                        <li class="meta">
                            MySQL database:
                        </li>
                        <li class="meta">
                            PostgreSQL account:
                        </li>
                        <li class="meta">
                            PostgreSQL database:
                        </li>#}
                        {% if soc.lists|length > 0 %}
                        <li>Mailing lists:
                            {% for list in soc.lists %}
                            <a href="https://www.srcf.net/mailman/admin/{{ list }}" class="data">{{ list }}</a>
                            {% endfor %}
                        </li>
                        {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
