code{
    padding-left: 0;
    padding-right: 0;
}

.card {
    margin-bottom: 0.5em;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.twocolumns {
    columns: 35rem;
}

.card-header .btn{
    float: right;
}

pre.shell {
    background-color: #444;
    color: white;
    padding: 10px;
    white-space: pre-wrap;
}

ul.traceback {
    list-style: none;
    padding: 0.5em;
    background: #eee;
    border: 1px solid #aaa;
    color: #888;
}
ul.traceback li {
    white-space: pre-wrap;
}
