p.done {
	background: #dfd;
	font-weight: bold;
	padding: 0.2em 0.4em;
}
ul.acctlist {
    list-style-type: none;
    padding-left: 0;
}
ul.acctlist div {
	padding: 0.2em;
}
ul.acctlist .head {
	background: #cef;
}
ul.acctlist li.acct {
	margin-bottom: 1.5em;
}
ul.acctlist li.meta {
	color: #44f;
}
ul.acctlist li.acct ul.acctattribs {
	margin-bottom: 0.5em;
}
ul.acctlist li.acct ul.acctattribs li {
	margin-top: 0.1em;
}
.data {
	font-weight: bold;
}
input.error {
    border: 1px solid red;
}
span.error {
    color: red;
}
h1 a.action {
    color: #0099ff;
}
abbr {
    cursor: help;
}
input[type="text"], input[type="email"] {
    font: inherit;
    padding: 0.2em;
}
div.form-group {
    margin-bottom: 1em;
}
button.action, input[type="submit"].action {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #747474;
    text-decoration: underline;
    cursor: pointer;
}
.modal {
    width: 700px;
}

.signup-form p.help-block {
    margin: 0;
    font-style: italic;
}
.signup-form .form-group {
    margin: 20px 0;
}
.form-group.error label {
    color: red;
}
th {
    text-align: left
}
th, td {
    padding-right: 1em;
}
