p.done {
	background: #dfd;
	font-weight: bold;
	padding: 0.2em 0.4em;
}
ul.acctlist {
    list-style-type: none;
    padding-left: 0;
}
ul.acctlist div {
	padding: 0.2em;
}
ul.acctlist .head {
	background: #cef;
}
ul.acctlist li.acct {
	margin-bottom: 1.5em;
}
ul.acctlist li.meta {
	color: #44f;
}
ul.acctlist li.acct ul.acctattribs {
	margin-bottom: 0.5em;
}
ul.acctlist li.acct ul.acctattribs li {
	margin-top: 0.1em;
}
.data {
	font-weight: bold;
}
h1 a.action {
    color: #09f;
}
abbr {
    cursor: help;
}
input, textarea {
    font: inherit;
}
input[type="text"], input[type="email"], textarea {
    padding: 0.2em;
    border: 1px solid #747474;
}
textarea {
    margin-top: 0.3em;
}
.form-group {
    margin-bottom: 1em;
}
.form-group.error {
    color: red;
}
.form-group.error input, .form-group.error textarea {
    border: 1px solid red;
}
p.help-block, p.error-help-block {
    margin: 0;
    font-size: 0.9em;
}
p.help-block {
    font-style: italic;
}
.form-group.error span.no-error, .form-group.error p.help-block {
    color: #404040;
}
input[type="submit"].action {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #747474;
    text-decoration: underline;
    cursor: pointer;
}
.modal {
    width: 700px;
}
th {
    text-align: left
}
th, td {
    padding-right: 1em;
}
