{% extends "base.html" %}
{% from "macros.html" import soc_desc_soc %}

{% block body %}
<h2>Add administrator</h2>
<p>Group accounts are managed by users with personal SRCF accounts.  You can elect an additional administrator, who will be given shared access to the {{ soc_desc_soc(society) }} account.</p>
<ul>
    <li>They will be able to edit the files of the group account website.</li>
    <li>They will be able to use their <em>personal</em> MySQL or PostgreSQL users to log into the group account database.</li>
    <li>They will not be provided with existing group account passwords (for example, databases and lists).  You can reset these from the group account management page if needed.</li>
</ul>
<form action="{{ url_for('society.add_admin', society=society.society) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <input name="crsid" type="text" class="form-control{% if error %} is-invalid{% endif %}" value="{{ crsid }}" placeholder="Administrator's CRSid" autofocus required>
        {%- if error %}
            <small class="invalid-feedback">{{ error }}</small>
        {%- else %}
            <small class="form-text text-muted">This is the part before the "@cam.ac.uk" in their University of Cambridge email address.</small>
        {%- endif %}
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Add">
    <a href="{{ url_for('society.home', society=society.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
