{% extends "base.html" %}

{% block body %}
<h2>Create mailing list</h2>
<p>If you want to create a new mailing list, enter the list name below.  Group account list addresses are of the form <strong>{{ society.society }}-<em>name</em>@srcf.net</strong>.</p>
<form action="{{ url_for('society.create_mailing_list', society=society.society) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend input-group-text">{{ society.society }}-</span>
            <input name="listname" type="text" class="form-control{% if error %} is-invalid{% endif %}" value="{{ listname }}" placeholder="List name" autofocus required>
            <span class="input-group-append input-group-text">@srcf.net</span>
            {%- if error %}
                <small class="invalid-feedback">{{ error }}</small>
            {%- endif %}
        </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Create">
    <a href="{{ url_for('society.home', society=society.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
