{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; <a href="{{ url_for('society.home', society=society.society) }}" class="action">{{ society.society }}</a> &rarr; Create Mailing List</h1>

    <form action="{{ url_for('society.create_mailing_list', society=society.society) }}" method="post">

    <p>If you want to create a new mailing list, enter the list name below.  Society list addresses are of the form <span class="data">{{ society.society }}-<em>name</em>@srcf.net</span>.</p>

    <p>
    New list name:
    {{ society.society }}-<input name="listname" type="text"{% if error %} class="error"{% endif %} value="{{ listname }}">
    {% if error %}<br>
    <span class="error">{{ error }}</span>{% endif %}
    </p>

    <div class="form-group">
        <input type="submit" value="Confirm">
        <a href="{{ url_for('society.home', society=society.society) }}" class="cancel">Cancel</a>
    </div>

    </form>
</div>
{% endblock %}
