{% extends "base.html" %}

{% block body %}
<h2>Create mailing list</h2>
<p>If you want to create a new mailing list, enter the list name below.  Society list addresses are of the form <strong>{{ society.society }}-<em>name</em>@srcf.net</strong>.</p>
<form action="{{ url_for('society.create_mailing_list', society=society.society) }}" method="post">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">{{ society.society }}-</span>
            <input name="listname" type="text" class="form-control{% if error %} is-invalid{% endif %}" value="{{ listname }}" placeholder="List name" autofocus required></label>
            <span class="input-group-addon">@srcf.net</span>
        </div>
        {%- if error %}
            {# .invalid-feedback incompatible with input groups. #}
            <small class="text-danger">{{ error }}</small>
        {%- endif %}
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Create">
    <a href="{{ url_for('society.home', society=society.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
