{% extends "base.html" %}
{% from "macros.html" import mem_name_crsid %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; {{ society.society }} &bullet; {{ society.description }}</h1>
    <p>Date created: <span class="data">{{ society.joined.strftime('%B %G') }}</span></p>
    <h3>Administrators</h3>
    <p>Each society account administrator has full control of the account, including files in <span class="data">/societies/{{ society.society }}</span>, databases, and managing the list of administrators as shown below.</p>
    <p>The current list of admins is as follows:</p>
    <ul>
    {%- for admin in society.admins|sort(attribute='crsid') %}
        <li>{{ mem_name_crsid(admin) }}{% if admin != member %} &mdash; <a href="{{ url_for('society.remove_admin', society=society.society, target_crsid=admin.crsid) }}" rel="modal">Remove</a>{% endif %}</li>
    {%- endfor %}
    </ul>
    <p>You can also elect additional administrators to manage the account. &mdash; <a href="{{ url_for('society.add_admin', society=society.society) }}" rel="modal">Add</a></p>
    {%- if society.pending_admins %}
    <p>The following users are pending addition as administrators, because they do not currently have personal SRCF accounts:</p>
    <ul>
    {%- for admin in society.pending_admins|sort(attribute='crsid') %}
        <li>{{ admin.crsid }}</li>
    {%- endfor %}
    </ul>
    {% endif %}
    <h3>Website</h3>
    {%- if society.website %}
    <p>You currently have a website set up at <a href="http://{{ society.society }}.user.srcf.net">{{ society.society }}.user.srcf.net</a>.  This is managed by uploading pages to the society's <span class="data">public_html</span> folder.</p>
    {%- else %}
    <p>You don't currently have a website set up.  You can do this by uploading pages to the society's <span class="data">public_html</span> folder.  This will then become available at <span class="data">{{ society.society }}.user.srcf.net</span>.</p>
    {%- endif %}
    <h3>MySQL</h3>
    {%- if society.mysqluser %}
    <p>Login with the username <span class="data">{{ society.mysqluser }}</span>.  Your password will have been issued when the user was first created. &mdash; <a href="{{ url_for('society.reset_database_password', society=society.society, type='mysql') }}" rel="modal">Reset password</a></p>
    <p>You can use <a href="https://www.srcf.net/phpmyadmin">phpMyAdmin</a> to manage your databases graphically.  Alternatively, connect from the SRCF shell:</p>
    <pre>{{ member.crsid }}@pip $ mysql -u {{ society.mysqluser }} -p <em>database</em></pre>
    <p>Here, <code>-u {{ society.mysqluser }}</code> specifies the society username, <code>-p</code> prompts for the password, and <code><em>database</em></code> at the end switches to the database of that name.</p>
      {%- if society.mysqldbs|length > 1 %}
    <p>This society currently have the following databases: {% for db in society.mysqldbs %}<span class="data">{{ db }}</span>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
    <p>To connect to a database, replace <code><em>database</em></code> with its name, e.g. <code>mysql -u {{ society.mysqluser }} -p {{ society.mysqldbs[0] }}</code>.</p>
      {%- elif society.mysqldbs|length == 1 %}
    <p>The name of your database is <span class="data">{{ society.mysqldbs[0] }}</span>.  To connect to it, replace <code><em>database</em></code> with <code>{{ society.mysqldbs[0] }}</code> above, i.e. <code>mysql -u {{ society.mysqluser }} -p {{ society.mysqldbs[0] }}</code>.</p>
      {%- else %}
    <form action="{{ url_for('society.create_database', society=society.society, type='mysql') }}" method="post">
        <p>This society doesn't currently have a MySQL database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
      {%- endif %}
      {%- if society.mysqldbs and member.mysqluser %}
      <p>You can also connect using your personal MySQL account, however you should not do this in any society scripts or website config files &ndash; this makes it difficult for us to manage accounts, and will also make it harder to hand over society accounts to new administrators.</p>
      {%- endif %}
    {%- else %}
    <form action="{{ url_for('society.create_database', society=society.society, type='mysql') }}" method="post">
        <p>This society doesn't currently have a MySQL user or database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
    {%- endif %}
    <h3>PostgreSQL</h3>
    {%- if society.pguser %}
    <p>Login with the username <span class="data">{{ society.pguser }}</span>.  Your password will have been issued when the user was first created. &mdash; <a href="{{ url_for('society.reset_database_password', society=society.society, type='postgres') }}" rel="modal">Reset password</a></p>
    <p>You can use <a href="https://www.srcf.net/phppgadmin">phpPgAdmin</a> to manage your databases graphically.  Alternatively, connect from the SRCF shell:</p>
    <pre>{{ member.crsid }}@pip $ psql <em>database</em></pre>
    <p>Here, <code><em>database</em></code> switches to the database of that name.  You don't need to provide a password, authentication is handled by the currently logged in user (so scripts running as your account also do not need a password).</p>
      {%- if society.pgdbs|length > 1 %}
    <p>This society currently have the following databases: {% for db in society.pgdbs %}<span class="data">{{ db }}</span>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
    <p>To connect to a database, replace <code><em>database</em></code> with its name, e.g. <code>psql {{ society.pgdbs[0] }}</code>.</p>
      {%- elif society.pgdbs|length == 1 %}
    <p>The name of your database is <span class="data">{{ society.pgdbs[0] }}</span>.  To connect to it, replace <code><em>database</em></code> with <code>{{ society.pgdbs[0] }}</code> above, i.e. <code>psql {{ society.pgdbs[0] }}</code>.</p>
      {%- else %}
    <form action="{{ url_for('society.create_database', society=society.society, type='postgres') }}" method="post">
        <p>This society doesn't currently have a PostgreSQL database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
      {%- endif %}
      {%- if society.pgdbs and member.pguser %}
      <p>You can also connect using your personal PostgreSQL account, however you should not do this in any society scripts or website config files &ndash; this makes it difficult for us to manage accounts, and will also make it harder to hand over society accounts to new administrators.</p>
      {%- endif %}
    {%- else %}
    <form action="{{ url_for('society.create_database', society=society.society, type='postgres') }}" method="post">
        <p>This society doesn't currently have a PostgreSQL user or database. &mdash; <input type="submit" class="action" value="Create database"></p>
    </form>
    {%- endif %}
    <h3>Mailing lists</h3>
    {%- if society.mailinglists %}
      {%- if society.mailinglists|length > 1 %}
    <p>This society currently manages {{ society.mailinglists|length }} mailing lists.  These are:</p>
    <ul>
        {%- for list in society.mailinglists|sort %}
        <li><span class="data">{{ list }}</span>@srcf.net &mdash; <a href="https://www.srcf.net/mailman/listinfo/{{ list }}">List info</a> &bullet; <a href="https://www.srcf.net/mailman/admin/{{ list }}">Manage</a> &bullet; <a href="{{ url_for('society.reset_mailing_list_password', society=society.society, listname=list) }}" rel="modal">Reset password</a></li>
        {%- endfor %}
    </ul>
      {%- else %}
    <p>This society currently manages the <span class="data">{{ society.mailinglists[0] }}</span>@srcf.net mailing list. &mdash; <a href="https://www.srcf.net/mailman/listinfo/{{ society.mailinglists[0] }}">List info</a> &bullet; <a href="https://www.srcf.net/mailman/admin/{{ society.mailinglists[0] }}">Manage</a> &bullet; <a href="{{ url_for('society.reset_mailing_list_password', society=society.society, listname=society.mailinglists[0]) }}" rel="modal">Reset password</a>
      {%- endif %}
    {%- endif %}
    <p>If you want to create a new mailing list, enter the list name below.  Society list addresses are of the form <span class="data">{{ society.society }}-<em>name</em></span>@srcf.net.</p>
    <form action="{{ url_for('society.create_mailing_list', society=society.society) }}" method="post">
        <p>{{ society.society }}-<input name="listname" placeholder="List name">@srcf.net <input type="Submit" value="Create">
    </form>
</div>
{% endblock body %}
