{% extends "base.html" %}
{% from "macros.html" import mem_name_crsid, vhost %}

{% set page_title = society.description %}
{% set page_subtitle = society.society %}
{% set page_parent = url_for('home.home') %}

{% block page_title_extra -%}
<small><a rel="modal" href="{{ url_for('society.update_description', society=society.society) }}" aria-label="Update description" title="Update description"><i class="fa fa-pencil"></i></a></small>
{%- endblock %}

{% block body %}
<p>Date created: <b>{{ society.joined.strftime('%B %G') }}</b></p>
<p><a href="{{ url_for('jobs.society_home', name=society.society) }}" class="btn btn-outline-secondary">Job history</a></p>
{%- if pending %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Jobs pending approval</h4>
            <p>The following jobs have been received, but are awaiting approval from a system administrator.  You may need to check your emails for any follow-up questions or actions before they can be approved.</p>
            <ul>
                {%- for job in pending %}
                <li><a href="{{ url_for('jobs.status', id=job.job_id) }}">{{ job }}</a></li>
                {%- endfor %}
            </ul>
        </div>
    </div>
{%- endif %}
<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Administrators ({{ society.admins|length }})</h4>
            <ul class="list-unstyled">
                {%- for admin in society.admins|sort(attribute='crsid') %}
                    <li>
                        {{ mem_name_crsid(admin, bold=false) }}
                        {%- if society.admins|length > 1 %}
                        <a href="{{ url_for('society.remove_admin', society=society.society, target_crsid=admin.crsid) }}" rel="modal" class="close" aria-label="Remove {{ admin.crsid }}" title="Remove {{ admin.crsid }}"><span aria-hidden="true">&times;</span></a>
                        {%- endif %}
                    </li>
                {% endfor %}
            </ul>
            <p>
                Admin email: <strong><a href="mailto:{{ society.email }}">{{ society.email }}</a></strong>
                <br>
                Role email: <strong>
                    {%- if society.role_email -%}
                    <a href="mailto:{{ society.role_email }}">{{ society.role_email }}</a>
                    {%- else -%}
                    not configured
                    {%- endif -%}
                </strong>
            </p>
            <hr>
            <div class="text-muted">
                <p>Each group account administrator has full control of the account, including files in <code>/societies/{{ society.society }}</code> and <code>/public/societies/{{ society.society }}</code>, databases, and managing this list of administrators.  They also each have access to this page, and can therefore reset passwords, create mailing lists and so on.</p>
                <p>Please ensure this list is kept up-to-date &ndash; account administrators are expected to maintain and manage operation of their group accounts, and respond to any issues or requests from the sysadmins.</p>
            </div>
            <hr>
            <div class="text-muted">
                <p>The <strong>admin email address</strong> above forwards to all named admins.  It is the first point of contact for the sysadmins to raise issues with the account, and to pass on or request your action on third-party requests.</p>
                <p>{% if society.role_email %}The <strong>role address</strong>{% else %}A <strong>role address</strong>, if configured,{% endif %} will be notified in the event of the group account becoming orphaned (no remaining admins), and may also be called upon if the sysadmins are unable to reach the account admins when needed.</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('society.add_admin', society=society.society) }}" rel="modal" class="btn btn-outline-primary">Add new administrator</a>
            <a href="{{ url_for('society.update_role_email', society=society.society) }}" rel="modal" class="btn btn-outline-primary">Update role email</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Website</h4>
            <ul class="list-unstyled">
                <li>
                    Default address:
                    {%- if society.website.exists %}
                        {{ vhost(society.society + ".soc.srcf.net") }}
                    {%- else %}
                        <strong>{{ society.society }}.soc.srcf.net</strong>
                    {%- endif %}
                </li>
                {%- if society.website.state == "legacy" %}
                    <li>Legacy URL: {{ vhost("www.srcf.ucam.org/" + society.society) }}</li>
                {%- elif society.website.state == "legacyredirect" %}
                    <li>Legacy redirect: <span class="text-muted">www.srcf.ucam.org/{{ society.society }}/</span></li>
                {%- endif %}
                <li>Web root: <code>/public/societies/{{ society.society }}/public_html</code></li>
            </ul>
            {%- if society.website.vhosts %}
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Document root</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ vhost(society.society + ".soc.srcf.net") }}</td>
                            <td><em>Same as web root</em></td>
                        </tr>
                        {%- for domain in society.website.vhosts|sort(attribute="domain") %}
                            <tr>
                                <td>
                                    {{ vhost(domain.domain, wild=domain.wild, https=(domain.domain in society.website.certs)) }}
                                    {% if domain.domain[:4] == "xn--" or ".xn--" in domain.domain %}
                                        <br>
                                        <em>{{ domain.domain.encode("ascii").decode("idna") }}</em>
                                    {% endif %}
                                </td>
                                <td>{% if domain.root %}<code>{{ domain.root }}</code>{% else %}<em>Same as web root</em>{% endif %}</td>
                                <td>
                                    <a href="{{ url_for('society.change_vhost_docroot', society=society.society, domain=domain.domain) }}" rel="modal" aria-label="Change document root for {{ domain.domain }}" title="Change document root for {{ domain.domain }}"><i class="fa fa-pencil"></i></a>
                                    <a href="{{ url_for('society.remove_vhost', society=society.society, domain=domain.domain) }}" rel="modal" class="close" aria-label="Remove {{ domain.domain }}" title="Remove {{ domain.domain }}"><span aria-hidden="true">&times;</span></a>
                                </td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            {%- endif %}
            <hr>
            <div class="text-muted">
                {%- if society.website.exists %}
                    <p>A certificate for encrypted (HTTPS) access to your website is automatically provided for the domain
                    <i>{{ society.society }}.soc.srcf.net</i>.  For custom domains, you can opt in for a certificate, which
                    will be issued within 24 hours of request.</p>
                    <p aria-hidden=true>Domains with certificates already issued are marked with <i class="fa fa-lock text-dark"></i>.</p>
                {%- else %}
                    <p>You don't currently have a website set up.</p>
                {%- endif %}
                <p>Upload pages or files to your web root directory, and they'll be published on your website.  Note that newly-uploaded websites may take up to 20 minutes before they start serving.</p>
                {%- if society.website.state == "legacy" %}
                    <p>We are currently also serving your site from <a href="http://www.srcf.ucam.org/{{ society.society }}/"><strong>www.srcf.ucam.org/{{ society.society }}/</strong></a>, which has now been deprecated.  You can find out more information about this <a href="https://srcf-admin.soc.srcf.net/subdomains/">here</a>, including setting the new primary address as default (with a redirect from old to new).</p>
                {%- elif society.website.state == "legacyredirect" %}
                    <p>We are redirecting requests for <strong>www.srcf.ucam.org/{{ society.society }}/</strong> to your primary address.</p>
                {%- endif %}
                <p>If you have a custom domain, you can serve your SRCF website from the root domain or any subdomain.  It will need to resolve to our server, after which it can serve either your <code>public_html</code> directory, or a specific subdirectory inside.</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('society.add_vhost', society=society.society) }}" rel="modal" class="btn btn-outline-primary">Add custom domain</a>
            <a href="https://srcf-admin.soc.srcf.net/lets-encrypt/" target="_blank" class="btn btn-outline-primary">Request HTTPS certificate</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mailing lists</h4>
            {%- if society.mailinglists %}
                <table class="table table-sm">
                    <tbody>
                        {%- for list in society.mailinglists|sort %}
                            <tr>
                                <td>
                                    <a href="mailto:{{ list }}@srcf.net">{{ list }}@srcf.net</a>
                                    <ul class="list-inline small">
                                        <li class="list-inline-item"><a href="https://lists.srcf.net/mailman/listinfo/{{ list }}">List info</a></li>
                                        <li class="list-inline-item"><a href="https://lists.srcf.net/mailman/admin/{{ list }}">List admin</a></li>
                                        <li class="list-inline-item"><a href="https://lists.srcf.net/mailman/admindb/{{ list }}">Mod queue</a></li>
                                        <li class="list-inline-item"><a href="https://lists.srcf.net/mailman/roster/{{ list }}">Subscribers</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <a href="{{ url_for('society.reset_mailing_list_password', society=society.society, listname=list) }}" rel="modal" aria-label="Reset password for {{ list }}@srcf.net" title="Reset password for {{ list }}@srcf.net"><i class="fa fa-key"></i></a>
                                </td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
                <hr>
            {%- endif %}
            <div class="text-muted">
                <p>We provide group account Mailman mailing lists with addresses of the form <strong>{{ society.society }}-<em>name</em>@srcf.net</strong>.</p>
                <p>Mailman provides its own admin panel for each list, which can be found at <strong>https://lists.srcf.net/mailman/admin/<em>list</em></strong>.</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('society.create_mailing_list', society=society.society) }}" rel="modal" class="btn btn-outline-primary">New mailing list</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">MySQL databases</h4>
            {%- if society.mysqluser %}
                <ul class="list-unstyled">
                    <li>Username: <code>{{ society.mysqluser }}</code></li>
                    {%- if society.mysqldbs %}
                        <li>
                            Database{% if society.mysqldbs|length > 1 %}s{% else %} name{% endif %}:
                            {%- for db in society.mysqldbs %}
                                <code>{{ db }}</code>
                                {%- if not loop.last %}, {% endif -%}
                            {%- endfor %}
                        </li>
                    {%- endif %}
                </ul>
                <hr>
                <div class="text-muted">
                    <p>You can use <a href="https://www.srcf.net/phpmyadmin">phpMyAdmin</a> to manage your databases graphically.  Alternatively, connect from the SRCF shell:</p>
                    <pre class="shell"><b>{{ member.crsid }}@pip $ mysql -u {{ society.mysqluser }} -p {% if society.mysqldbs|length == 1 %}{{ society.mysqldbs[0] }}{% else %}<i>database</i>{% endif %}</b>
Enter password:
Welcome to the MySQL monitor.  Commands end with ; or \g.
...

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

mysql&gt;</pre>
                    <p>
                        Here, <code>-u {{ society.mysqluser }}</code> specifies the username, <code>-p</code> prompts for the corresponding password, and
                        {%- if society.mysqldbs|length == 1 %}
                            <code>{{ society.mysqldbs[0] }}</code> at the end connects to the group account database
                        {%- else %}
                            <code><em>database</em></code> at the end switches to the database of that name
                        {%- endif -%}
                        .  On the shell, you can connect using your own account, whereas any scripts or software should use the group account.
                    </p>
                </div>
            {%- else %}
            <div class="text-muted">
                <p>You will likely need a MySQL database if you intend to run a CMS website, such as WordPress or Drupal.</p>
            </div>
            {%- endif %}
        </div>
        <div class="card-footer">
            {%- if society.mysqluser %}
            <a href="{{ url_for('society.reset_database_password', society=society.society, type='mysql') }}" rel="modal" class="btn btn-outline-primary">Reset password</a>
            {%- elif society.mysqldbs %}
            <p>You have a MySQL database but no MySQL account. Please contact the sysadmins to use MySQL.</p>
            {%- endif %}
            {%- if not society.mysqldbs %}
            <a href="{{ url_for('society.create_database', society=society.society, type='mysql') }}" rel="modal" class="btn btn-outline-primary">Create society database{% if not society.mysqluser %} and user{% endif %}</a>
            {%- endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">PostgreSQL databases</h4>
            {%- if society.pguser %}
                <ul class="list-unstyled">
                    <li>Username: <code>{{ society.pguser }}</code></li>
                    {%- if society.pgdbs %}
                        <li>
                            Database{% if society.pgdbs|length > 1 %}s{% else %} name{% endif %}:
                            {%- for db in society.pgdbs %}
                                <code>{{ db }}</code>
                                {%- if not loop.last %}, {% endif -%}
                            {%- endfor %}
                        </li>
                    {%- endif %}
                </ul>
                <hr>
                <div class="text-muted">
                    <p>You can use <a href="https://www.srcf.net/phppgadmin">phpPgAdmin</a> to manage your databases graphically.  Alternatively, connect from the SRCF shell:</p>
                    <pre class="shell"><b>{{ member.crsid }}@pip $ psql -h postgres {% if society.pgdbs|length == 1 %}{{ society.pgdbs[0] }}{% else %}<i>database</i>{% endif %}</b>
psql (9.5.9)
SSL connection (protocol: TLSv1.2, cipher: ECDHE-RSA-AES256-GCM-SHA384, bits: 256, compression: off)
Type "help" for help.

{% if society.pgdbs|length == 1 %}{{ society.pgdbs[0] }}{% else %}<i>database</i>{% endif %}=&gt;</pre>
                    <p>
                        Here, <code>-h postgres</code> connects to the PostgreSQL server, which is on a different machine to the shell server
                        {%- if society.pgdbs|length == 1 -%}
                            {%- if society.pgdbs[0] == member.crsid -%}
                                .  By default, you are connected to the database that matches your logon username.
                            {%- else -%}
                                , and <code>{{ society.pgdbs[0] }}</code> switches to your database.
                            {%- endif -%}
                        {%- else -%}
                            , and <code><em>database</em></code> switches to the database of that name.
                            {%- if society.pgdbs and society.pgdbs[0] == member.crsid %}
                            If omitted, you are connected to the database that matches your logon username.
                            {%- endif %}
                        {%- endif %}
                        Ident authentication is available, so passwords shouldn't be needed &ndash; on the shell, you can connect using your own account, whereas any scripts or software use the group account.</p>
                    </p>
                </div>
            {%- else %}
                <div class="text-muted">
                    <p>You don't have a PostgreSQL user or database at the moment. You can create one below if needed.</p>
                </div>
            {%- endif %}
        </div>
        <div class="card-footer">
            {%- if society.pguser %}
                <a href="{{ url_for('society.reset_database_password', society=society.society, type='postgres') }}" rel="modal" class="btn btn-outline-primary">Reset password</a>
            {%- endif %}
            {%- if not society.pgdbs %}
                <a href="{{ url_for('society.create_database', society=society.society, type='postgres') }}" rel="modal" class="btn btn-outline-primary">Create society database{% if not society.pguser %} and user{% endif %}</a>
            {%- endif %}
        </div>
    </div>
</div>
{% endblock body %}
