{% extends "base.html" %}

{% block body %}
<h2>Remove {{ domain }}</h2>
<p>Are you sure you want to stop serving your site at <strong>{{ domain }}</strong>?</p>
<form action="{{ url_for('society.remove_vhost', society=society.society, domain=domain) }}" method="post">
    <input type="submit" class="btn btn-outline-primary" value="Remove">
    <a href="{{ url_for('society.home', society=society.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
