{% extends "base.html" %}
{% from "macros.html" import soc_desc_soc %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; <a href="{{ url_for('society.home', society=society.society) }}" class="action">{{ society.society }}</a> &rarr; Reset {{ item }} Password</h1>

    <form action="{{ action }}" method="post">

    <p>
    Are you sure you want to reset the {{ item }} password for the society {{ soc_desc_soc(society) }}? This will affect access to {{ web_interface }}, as well as any scripts that access databases using the society account.
    </p>

    <div class="form-group">
        <input type="submit" value="Confirm">
        <a href="{{ url_for('society.home', society=society.society) }}">Cancel</a>
    </div>

    </form>
</div>
{% endblock %}
