{% extends "base.html" %}
{% from "macros.html" import soc_desc_soc %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}">Control Panel</a> &rarr; <a href="{{ url_for('society.home', society=society.society) }}">{{ society.society }}</a> &rarr; Reset {{ name }} Password</h1>
    <p>Are you sure you want to reset the {{ name }} password for the {{ soc_desc_soc(society) }} account?</p>
    <p>This will affect access to {{ web_interface }}, as well as any scripts that access databases using the society account.</p>
    <form action="{{ url_for('society.reset_database_password', society=society.society,type=type) }}" method="post">
        <div class="form-group">
            <input type="submit" value="Confirm">
            <a href="{{ url_for('society.home', society=society.society) }}" class="cancel">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
