{% extends "base.html" %}

{% block body %}
<div class="main">
    <h1><a href="{{ url_for('home.home') }}" class="action">Control Panel</a> &rarr; <a href="{{ url_for('society.home', society=society.society) }}" class="action">{{ society.society }}</a> &rarr; Reset Society Mailing List Password</h1>

    <form action="{{ url_for('society.reset_mailing_list_password', society=society.society, listname=listname) }}" method="post">

    <p>
        Are you sure you want to reset the society mailing list password for {{ listname }}@srcf.net?
    </p>

    <div class="form-group">
        <input type="submit" value="Confirm">
        <a href="{{ url_for('member.home') }}">Cancel</a>
    </div>

    </form>
</div>
{% endblock %}
