{% extends "base.html" %}

{% block body %}
<h2>Reset {{ listname }} password</h2>
<p>Are you sure you want to reset the mailing list password for <strong>{{ listname }}@srcf.net</strong>?</p>
<form action="{{ url_for('society.reset_mailing_list_password', society=society.society, listname=listname) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="submit" class="btn btn-outline-primary" value="Confirm">
    <a href="{{ url_for('society.home', society=society.society) }}" data-dismiss="modal" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}
