name: Docker

on: [push]

jobs:
  test:
    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
    - name: Test the Dockerfile builds ok
      run: |
        docker build --tag srcf-control .
    - name: Test (crudely) that the app can initialise
      run: |
        docker run --rm --interactive srcf-control python3 -c "from control.webapp import app"
